<section class="hero is-info is-medium">
<div class="hero-body">
  <div class="container">
      <h1 class="title">WELCOME</h1>
      <h2 style="text-align:center"> Portefeuille</h2>       
  </div>
</div>
</section>

<div class="container">
    <%= link_to 'Create a budget or view budget', controller: 'budgets' %> | <%= link_to 'Create or view category', controller: 'categories' %>
</div>



